<!DOCTYPE html>
<html>
<head>
    <!--<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"-->
    <!--th:href="@{/resources/css/bootstrap.min.css}"/>-->
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<!-- /.content-wrapper -->
<footer class="main-footer" th:fragment="footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright 2016 <a class="https://github.com/DomainDriven">DomainDriven</a>.</strong> All rights reserved.
</footer>
<!--<footer th:fragment="footer-admin">-->
<!--&copy; 2016 Admin Footer-->
<!--</footer>-->
</body>
</html>