<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/assets/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/assets/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/assets/bower_components/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<header class="main-header" th:fragment="header">
    <!-- Logo -->
    <a class="logo profile-page">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini profile-page"><b>D</b>^2</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg profile-page"><b>Domain</b>Driven</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!--Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <!--<div class="navbar-custom-menu">-->
        <!--<ul class="nav navbar-nav">-->
        <!--<div th:replace="fragments/headers/dr_messages :: dr_messages">&nbsp;</div>-->
        <!--<div th:replace="fragments/headers/dr_notifications :: dr_notifications">&nbsp;</div>-->
        <!--<div th:replace="fragments/headers/dr_tasks :: dr_tasks">&nbsp;</div>-->
        <!--<div th:replace="fragments/headers/dr_user :: dr_user">&nbsp;</div>-->
        <!--&lt;!&ndash; Control Sidebar Toggle Button &ndash;&gt;-->
        <!--<li>-->
        <!--<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
    </nav>
</header>
</body>
</html>