<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"-->
    <!--th:href="@{/resources/css/bootstrap.min.css}"/>-->
</head>
<body>
<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu" th:fragment="dr_user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="" class="user-image"
             alt="User Image"/>
        <span class="hidden-xs"></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="" class="img-circle"
                 alt="User Image"/>

            <p>
                Web Developer
                <small></small>
            </p>
        </li>
        <!-- Menu Body -->
        <li class="user-body">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                </div>
            </div>
            <!-- /.row -->
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat" id="logout-btn">Sign out</a>
            </div>
        </li>
    </ul>
</li>
</body>
</html>